@import url('https://fonts.googleapis.com/css?family=Bungee+Inline'); 
@import url('https://fonts.googleapis.com/css?family=Eater');
@import url('https://fonts.googleapis.com/css?family=Eater|Freckle+Face');

*{
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background-image: url(kulogin.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #loginhead
  {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 125px;

    font-family: 'Freckle Face', cursive;






  }
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 40px 40px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    
    background-image: url(signup.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 40px 40px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}